<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action='/artStyles' method='POST'>
    <input type='text' placeholder='name' name='name'>
    <input type='text' placeholder='quote' name='quote'>
    <button type='submit'>Submit</button>
  </form>
  <div id="components-demo">
    <button-counter></button-counter>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src='./server/index.js'></script>
  <script src='./server/server.js'></script>
</body>
</html>